* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Tahoma', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #242222;
}

.link:hover {
  color: rgb(56, 56, 141);
}

.a {
  display: block;
}

.img {
  display: block;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.footer-link {
  text-decoration: none;
  margin-left: 20px;
}
